*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    background-image: url("pics/forest.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#name-sect, #about, #skills, #projects {
    display: flex;
    width: 70vw;
    height: 60vh;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-image: url("pics/scroll2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: inherit;
    margin-top: 20vh;
}

#skills{
    flex-direction: column;
}

#skills-skills {
    margin-bottom: 5vh;
    font-size: 6vmin;
    font-family: 'MedievalSharp', cursive;
}

button {
    height: 4vh;
    width: 6vw;
    background: none;
    border: none;
    font-size: 2vmin;
    font-family: 'Cardo', serif;
}

button:hover {
    cursor: pointer;
    color: #2e43b7;
    text-decoration: underline;
}

#about-home {
    position: absolute;
    top: 156vh;
    right: 20vw;
}

#skills-home {
    position: absolute;
    top: 236vh;
    right: 20vw;
}

#project-home {
    position: absolute;
    top: 315vh;
    right: 20vw;
}

.home-button {
    height: 4vh;
    width: 10vw;
    background: none;
    border: none;
    font-size: 2.5vmin;
    font-family: 'Cardo', serif;
}

.home-button:hover {
    cursor: pointer;
    color: #2e43b7;
    text-decoration: underline;
}

#button-div {
    width: 40%;
    position: absolute;
    top: 25vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


#name-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 100%;
}

#name-border-top-right {
    position: absolute;
    top: 21vh;
    right: 22.5vw;
    width: 8%;
    height: 8%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#name-border-bottom-left {
    position: absolute;
    bottom: 21vh;
    left: 23.5vw;
    width: 10%;
    height: 10%;
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}

#about-border-bottom-left {
    position: absolute;
    top: 101vh;
    right: 22.5vw;
    width: 10%;
    height: 10%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#about-border-top-right {
    position: absolute;
    top: 149vh;
    left: 23.5vw;
    width: 10%;
    height: 10%;
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}

#skills-border-top-right{
    position: absolute;
    top: 229vh;
    left: 23.5vw;
    width: 10%;
    height: 10%;
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}

#skills-border-bottom-left{
    position: absolute;
    top: 181vh;
    right: 22.5vw;
    width: 10%;
    height: 10%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#about-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#about-me{
    margin-bottom: 5vh;
    font-size: 6vmin;
    font-family: 'MedievalSharp', cursive;
}

#name-p {
    font-size: 2vmin;
    margin-top: 5%;
    font-family: 'Cardo', serif;
}

#name-h1 {
    text-align: center;
    font-size: 7vmin;
    font-family: 'MedievalSharp', cursive;
}

#about-p {
    width: 60%;
    font-size: 2vmin;
    font-family: 'Cardo', serif;
}

#skills-div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 80%;
    width: 80%;
}

.icon-div {
    width: 15vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.icon {
    width: 70%;
    height: 80%;
}

.icon-p {
    font-size: 2.5vmin;
    margin-top: 1vh;
    font-family: 'Cardo', serif;
}

#project-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 70%;
}

#project-video, #project-info{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#projects-vid {
    height: 80%;
    width: 100%;
}

#project-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#project-header {
    font-size: 4.5vmin;
    font-family: 'MedievalSharp', cursive;
    margin-bottom: 3vh;
}

#project{
    position: absolute;
    top: 262vh;
    margin-bottom: 5vh;
    font-size: 6vmin;
    font-family: 'MedievalSharp', cursive;
}

#tech {
    font-size: 3vmin;
    font-family: 'MedievalSharp', cursive;
    font-weight: bolder;
}

.tech-stack {
    font-size: 2.5vmin;
    font-family: 'Cardo', serif;
}

#project-link {
    font-size: 2.5vmin;
    font-family: 'Cardo', serif;
    margin-top: 2vh;
}

footer {
    margin-top: 40vh;
    height: 45vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

#footer-div {
    height: 100%;
    width: 75%;
    background-image: url("pics/scroll3.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: inherit;
}

#footer-home {
    position: absolute;
    top: 398vh;
}