*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: rgb(153,230,233);
    background: linear-gradient(180deg, rgba(51,113,128,1) 11%, rgba(22,71,83,0.9836309523809523) 43%, rgba(10,14,65,1) 82%)fixed;
}

#header {
    position: relative;
    top: 30vh;
    display: flex;
    width: 100vw;
    height: 20vh;
    align-items: center;
    justify-content: center;
    background: none;
}

#header-h1 {
    text-align: center;
    font-size: 18vh;
    color: #38f0cb;
    font-family: 'Oswald', sans-serif
}

#about-div {
    width: 40vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: none;
    position: relative;
    top: 40vh;
    left: 30vw;
}

#about-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about-p {
    font-weight: bold;
    font-size: 2.5vh;
}

#about-h1{
    color: #38f0cb;
    font-size: 7vh;
    font-family: 'Oswald', sans-serif
}

#about-inner {
    width: 95%;
    height: 60%;
    border-radius: 2vh;
}

#about-p {
    color: #dcf2eb;
    margin-top: 5%;
    font-family: 'Indie Flower', cursive;
}

#skills {
    width: 100vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: none;
    position: relative;
    /*left: 20vw;*/
    top: 50vh;
}

#skills-inner {
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
}

#skills-h1 {
    color: #38f0cb;
    font-size: 7vh;
    font-family: 'Oswald', sans-serif
}

section[id*= "skills"]{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3vw;
}

img {
    width: 20vh;
    height: 20vh;
    transition: transform 1s ease-in-out;
}

p[id*= "skill"]{
    font-size: 5vh;
    color: #dcf2eb;
    margin: 5%;
    font-family: 'Oswald', sans-serif
}

#projects {
    width: 80vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    background: none;
    position: relative;
    left: 10vw;
    top: 200vh;
    margin-bottom: 20vh;
}

#projects-header {
    position: relative;
    top: 100vh;
    left: 42vw;
    color: #38f0cb;
    font-size: 8vh;
    font-family: 'Oswald', sans-serif
}

#left, #right {
    width: 40%;
    height: 100%;
    background: #06062d;
    margin: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 2vh;
    box-shadow: 2vh 2vh 2vh black;
}

#right-div-p{
    color: #38f0cb;
    font-size: 12vh;
    text-align: center;
    font-family: 'Oswald', sans-serif
}

h2 {
    color: #38f0cb;
    font-size: 5vh;
    font-family: 'Oswald', sans-serif
}

#left-project-div{
    margin-top: 5%;
    display: flex;
    width: 95%;
    height: 55%;
    border: solid .1vh #dcf2eb;
    border-radius: 2vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#left-video {
    width: 95%;
    height: 40%;
}

#left-desc {
    font-size: 2vh;
    text-align: center;
    color: #dcf2eb;
    font-family: 'Oswald', sans-serif
}

.left-p {
    font-size: 2vh;
    text-align: center;
    color: #dcf2eb;
    font-family: 'Oswald', sans-serif
}

#live-fitness-link {
    margin-top: 5%;
    text-align: center;
    color: #38f0cb;
    font-family: 'Oswald', sans-serif
}

h3 {
    margin-top: 3%;
    color: #38f0cb;
    font-size: 3.5vh;
    font-family: 'Oswald', sans-serif
}

footer {
    height: 55vh;
    width: 100vw;
    background: #06062d;
    position: relative;
    top: 195vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#foot-left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#foot-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.foot-pic {
    width: 8vh;
    height: 8vh;
    margin-top: 2vh;
}

.foot {
    font-size: 2.5vh;
    text-align: center;
    color: #38f0cb;
    font-family: 'Oswald', sans-serif;
    margin-left: 3vw;
}

.footer-class {
    display: flex;
    flex-direction: row;
}

#linkedin {
    margin-top: 3vh;
}

#email-div, #github-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 15%;
    margin-bottom: 8%;
}

#email-p {
    font-size: 2vh;
    text-align: center;
    color: #dcf2eb;
    font-family: 'Oswald', sans-serif;
    margin-left: 3vw;
}
#github-p {
    font-size: 2vh;
    text-align: center;
    color: #dcf2eb;
    font-family: 'Oswald', sans-serif;
    margin-left: 3vw;
}

.container {
    width: 20vh;
    height: 20vh;
    perspective: 50vh;
    margin: 10vh;
}
.cube {
    position: relative;
    width: 20vh;
    height: 20vh;
    transform-style: preserve-3d;
    /*transform: rotate(0deg);*/
    transition: all 999s 999s;
}
.face {
    width: 20vh;
    height: 20vh;
    background: #337180;
    /*border: 2px solid black;*/
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    font-size: 2rem;
}

.front {
    transform: translateZ(10vh);
}
.back {
    transform: translateZ(-10vh) rotateY(180deg);
}
.left {
    transform: translateX(-10vh) rotateY(-90deg);
}
.right {
    transform: translateX(10vh) rotateY(90deg);
}
.top{
    transform: translateY(-10vh) rotateX(90deg);
}
.bottom {
    transform: translateY(10vh) rotateX(-90deg);
}
@keyframes turn {
    from { transform: rotate3d(0, 0, 0, 0); }
    to { transform: rotate3d(1, 1, 0, 360deg); }
}
.cube:hover {
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: turn 2s linear;
    transform: rotate3d(1, 1, 0, 360deg);
}

